
<h2><%= @task.name %></h2>
<p><%= @task.detail %></p>


<%= link_to "Edit your task", edit_task_path(@task) %>

<%= link_to "Delete your task", task_path(@task), method: :delete, data: { confirm: 'Are you sure?' } %>

<%= link_to "Back to the list", root_path %>